<% include ./partials/header %>
<% include ./partials/nav %>
<main role="main" class="container">
   <div class="jumbotron">
      <h1>All category</h1>
      <p>
        All category that we define to label. For ref.
      </p>
      <form class="form-inline" action="/category/new" method="POST">
        <div class="form-group mb-2">
          <label class="sr-only">Label Id</label>
          <input type="text" class="form-control" name="category[label]" placeholder="label id">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control" name="category[name]" placeholder="name">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add new category</button>
      </form>
   </div>
</main>
<div class="container">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category label</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% var count = 1; %>
    <% categories.forEach(function(category){ %>
    <tr>
      <th scope="row"><%= count %></th>
      <td><%= category.name %></td>
      <td><%= category.label %></td>
      <td>
        <form action="/category/<%=category._id%>?_method=DELETE" method="POST">
          <input
            type="submit"
            class="btn btn-xs btn-danger"
            onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
        </form>
      </td>
    </tr>
    <% count++; %>
    <% }) %>
  </tbody>
</table>
</div>
<% include ./partials/footer %>
