<% include ./partials/header %>
<% include ./partials/nav %>

<main role="main" class="container">
  <div class="alert alert-success alert-dismissible" id="alert-top" hidden>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p id="content"></p>
  </div>

  <div class="jumbotron">
    <h1>Label info</h1>

    <button type="button" class="btn btn-warning btn-lg">
      Unlabel count <span class="badge badge-light" id="unlabelCount"></span>
    </button>
    <button type="button" class="btn btn-success btn-lg">
      Label count <span class="badge badge-light" id="labelCount"></span>
    </button>
  </div>
</main>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-1">#</th>
        <th class="col-9">Comment</th>
        <th class="col-1">Label</th>
        <th class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <% var count = 1; %>
      <% comments.forEach(function(comment){ %>
      <tr class="label-row d-flex">
        <!-- <input class="label-comment-id" value="<%=comment._id%>" hidden> -->
        <th class="col-1">
          <%= count %>
          <small style="font-size:1px" class="label-comment-id">
            <%=comment._id%></small>
        </th>
        <td class="col-9">
          <%= comment.comment %>
        </td>
        <td class="col-1">
          <select name="selector">
            <option value="<%= comment.label %>">
              <% if(comment.label == -1) { %>
                Negative
              <% } else if(comment.label == 0) { %>
                Neutral
              <% } else if(comment.label == 1) { %>
                Positive
              <% } %>
            </option>
            <% if(comment.label == -1) { %>
            <option value="0">Neutral</option>
            <option value="1">Positive</option>
            <% } else if(comment.label == 0) { %>
            <option value="-1">Negative</option>
            <option value="1">Positive</option>
            <% } else if(comment.label == 1) { %>
            <option value="-1">Negative</option>
            <option value="0">Neutral</option>
            <% } %>
          </select>
        </td>
        <td class="col-1">
          <form action="/<%=comment._id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"
              value="Delete">
          </form>
        </td>
      </tr>
      <% count++; %>
      <% }) %>
    </tbody>
  </table>

  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/labeled?page=<%=page%>&limit=100">
        <%=page%></a></li>
    <li class="page-item active">
      <span class="page-link">
        <%=page+1%>
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="/labeled?page=<%=page+2%>&limit=100">
        <%=page+2%></a></li>
    <li class="page-item"><a class="page-link" href="/labeled?page=<%=page+3%>&limit=100">
        <%=page+3%></a></li>
    <li class="page-item"><a class="page-link" href="#">
        ...</a></li>
    <li class="page-item disabled"><a class="page-link" href="/labeled?page=<%=pages%>&limit=100">
        <%=pages%></a></li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $('select[name=selector]').on("change", function () {
      var buttonClick = $(this);
      var commentRow = $(this).closest('tr');
      var commentId = commentRow.find('.label-comment-id');

      $.ajax({
        type: 'POST',
        data: {
          label: buttonClick.val(),
          id: commentId.text()
        },
        url: '/label?_method=PUT',
        success: function (result) {
          $('#alert-top').removeAttr('hidden');
          $('#alert-top > #content').text(result);
        }
      });
    });
  });
</script>

<% include ./partials/footer %>