<% include ./partials/header %>
<% include ./partials/nav %>

<main role="main" class="container">
    <div class="alert alert-success alert-dismissible" id="alert-top" hidden>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p id="content"></p>
    </div>

    <div class="jumbotron">
        <h1>Label it</h1>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/label?page=1&limit=100">Label</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/labeled?page=1&limit=100"">Labeled</a>
                </li>
            </ul>
    </div>
</main>

<div class="
                    container">

    </div>

    <% include ./partials/footer %>